# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out

# env
.env
.env*.local

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/*.db
prisma/*.db-journal

# ide
.idea
.vscode
.DS_Store
